@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <head>
        <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
        
    </head>
<div class="text-center">
    @foreach (var item in @Model.drinks.HotDrinks)
    {
        @if (item.AvailableMonthStart <= DateTime.Now.Month && item.AvailableMonthEnd >=  DateTime.Now.Month)
        {
    <div class="itemBox">
        <a asp-area="" asp-page="/Page2" asp-route-Name="@item.name" id="@item.name.Replace(" ", "")">@item.name</a>

    </div>
        }
    }
</div>
